
#main {
  overflow: hidden;
}

/**
 * Grid items animation
 */
#tiles li {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.wookmark-placeholder {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

/**
 * Filters
 */

#filter ul li {
  list-style:none;
  float:left;
  margin-right:15px;
  padding:6px 10px;
  margin-bottom:20px;
  background:#eee;
  display:initial;
}
#filter ul li a {
  color:#333;
  margin-bottom:20px;
}

/*#filter ul li .selected {
  color: #fbc100;
}*/

#filter ul li.hover {
  background: #fbc100;
  color: #ffffff;
}

#filter ul li.active {
  background-color: #fbc100;
  color: #ffffff;
}