
#main {
  overflow: hidden;
}

/**
 * Grid items animation
 */
#tiles li {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

.wookmark-placeholder {
  -webkit-transition: all 0.3s ease-out;
     -moz-transition: all 0.3s ease-out;
       -o-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}

/*for scrolling function*/
div#filter {
  margin: -40px 45px 0;
  background: #c2c2c2;
  z-index: 100;
  position: static;
  width: 80%; 
  height:40px;
}

#filter ul {
    margin: 0 auto;
}

/**
 * Filters
 */
#filter ul li {
  list-style:none;
  float:left;
  margin-top: 4px;
  margin-right:10px;
  margin-left:10px;
  padding:6px 10px;
  background:#eee;
  display:initial;
}
#filter ul li a {
  color:#333;
  margin-bottom:20px;
}

/*#filter ul li .selected {
  color: #fbc100;
}*/

#filter ul li.hover {
  background: #fbc100;
  color: #ffffff;
}

#filter ul li.active {
  background-color: #fbc100;
  color: #ffffff;
}