
/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

.trends {
	size:30px;
	color:#fbc100;
}

span {
	size: 30px;
}

/* visualization part*/

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}
