div.row {
    margin-bottom: 15px;
}

h4#no_1 {
    font-size: 45px;
    color: #fbc100;
}

h4#no_2 {
    font-size: 30px;
    color: #428bca;
}

h4#no_3 {
    font-size: 20px;
    color: #5cb85c;
}

div#no_1 {
    background: #eee;
    height: 320px;
}

div#no_2 {
    background: #c4c4c4;
    height: 280px;
    margin-top: 40px;
}

div#no_3 {
    background: #eee;
    height: 250px;
    margin-top: 70px;
}

div.col-md-6 img {
    margin-top: 10px;
    border: 2px solid #fcb100;
}


#fav_category_1_img, #fav_category_2_img, #fav_category_3_img {
    background: white;
    border: none;
}

div#row1, div#row2 {
    border-bottom: 2px solid black;
}



/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}
.placeholders h4 {
  margin-bottom: 0;
}
.placeholder {
  margin-bottom: 20px;
  width: 300px;
  height: 300px;
}
.placeholder img {
  display: inline-block;
  border-radius: 50%;
}



span {
	size: 30px;
}

span.trends {
    color: red;
    font-size: 20px;
}

span.type {
    font-size: 20px;
    font-weight: bold;
}

h4.trends {
    font-size: 20px;
}

/* by column*/
div#col1,div#col3 {
    background: #eee;
}

div#col2 {
    background: #b5b5b5;
}

div#col2 h4.trends {
    color: white;
}

div#col1 span.type {
    color: green;    
}

div#col2 span.type {
    color: blue;
}

div#col3 span.type {
    color: #9b0ccf;
}

div#make_pie{
  width: 100%;

}

.img-responsive{
  width:100px;
  height: 100px;
  border: 5px solid #e8e8e8;
}

/* visualization Histogram:
* reference: http://bl.ocks.org/Caged/6476579
*/
