div#disclaimer h4{
    color: orange;
}

/*form style*/
form {
	background-color: white;
	width: 50%;
	padding: 5px 10px;
	margin: 15px auto;
	border-radius: 20px;
}

form p {
	font-size: 12px;
}

form p a {
	color: blue;
	font-variant: small-caps;
}

form p a:hover {
	text-decoration: underline;
}

form input[type='submit'] {
	background-color: #fdc100;
	color: white;
	height: 40px;
	width: 80px;
	font-size: 20px;
	border-radius: 10px;
	border: none;
	margin-bottom: 15px;
}

form input {
	color: black;
	background-color: #fdc100;
	padding: 5px;
	font-size: 20px;
	border: 2px solid #fdc100;
	border-radius: 5px;
    margin-bottom: 15px;
    width: 440px;
}

form#updateProfile, form#uploadForm {
    background: #eee;
    padding: 15px 20px;
}

form#updateProfile input {
    width: 500px;
}

form#uploadForm input {
    width: 300px;
}

form input:focus {
	background-color: #ffdc6b;
}

form input[type='submit']:hover {
	background-color: #ffdc6b;
	color: black;
	border: 2px solid #ffdc6b;
}

div#error1, div#error2 {
	color: red;
	font-size: 10px;
}

/*photo detail page*/
#bigPhoto {
    width: 65%;
}
#bigPhoto img{
    border: 3px solid #e8e8e8;
    padding: 1px;
    width: 100%;
    height: auto;
    float: left;
    margin: 0px 0px 15px 30px;
    margin-top: 0%;
}
#head {
    margin: 0% 1% 1%;
    left: 68%;
    width: 30%;
    float: left;
    background: #eee;
    padding: 0px 10px 10px;
}

#stat{
	left: 68%;
    background: #eee;
    padding: 0px 10px 20px;
    float: left;
    clear: right;
    width: 30%;
    margin: 0% 1% 2%;
}
#stat li{
    clear: both;
    display: block;
    word-wrap: break-word;
    width: 90%;
}

div#empty {
    clear: both;
    height: 15px;
}

li#features {
    font-size: 12px;
	list-style: none;
    height: 33px;
    margin: 1%;
    text-align: center;
    background: #fbc100;
    color: #ffffff;
    width: 125px;
    padding: 5px;
    text-align: left;
    float: left;
    clear: none;
}

li#features img#categories {
    width: 25px;
    height: 25px;
}

div#find {
    margin-left: 30px;
    background: #eee;
    padding: 15px;
    width: 90%;
}

#stat #disclaimer {
    border: 2px solid orange;
    padding: 15px 3px 0px;
    margin-bottom: 5px;
    margin-top: -20px;
}

#stat #disclaimer h4{
    color: orange;
    margin-top: -10px;
}

#stat #disclaimer p{
    font-size: 10px;
}

#stat #disclaimer span img{
    width: 0;
    height: 0;
}

/*for load more*/
div#loadMore {
    text-align: center;
    margin: 20px;
}

div.container h4#user_list {
    text-align: center;
}

div.container ul#firends {
    margin: 0 auto;
    min-width: 800px;
}

select.form-control{
    width:100px;
}

button#find {
    clear: both;
    margin-right: 500px;
}

/*for photo detail*/
button#follow {
    background: #5cb85c;
    border: 1px solid #5cb85c;
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
}

button#unfollow {
    background: #d9534f;
    border: 1px solid #d9534f;
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
}
