/*form style*/
form {
	background-color: white;
	width: 50%;
	padding: 5px 10px;
	margin: 15px auto;
	border-radius: 20px;
}

form p {
	font-size: 12px;
}

form p a {
	color: blue;
	font-variant: small-caps;
}

form p a:hover {
	text-decoration: underline;
}

form input[type='submit'] {
	background-color: #fdc100;
	color: white;
	height: 40px;
	width: 80px;
	font-size: 20px;
	border-radius: 10px;
	border: none;
	margin-bottom: 15px;
}

form input {
	color: black;
	background-color: #fdc100;
	padding: 5px;
	font-size: 20px;
	border: 2px solid #fdc100;
	border-radius: 5px;
    margin-bottom: 15px;
}

form#updateProfile, form#uploadForm {
    background: #eee;
    padding: 15px 20px;
}

form#updateProfile input {
    width: 500px;
}

form#uploadForm input {
    width: 300px;
}

form input:focus {
	background-color: #ffdc6b;
}

form input[type='submit']:hover {
	background-color: #ffdc6b;
	color: black;
	border: 2px solid #ffdc6b;
}

div#error1, div#error2 {
	color: red;
	font-size: 10px;
}

/*photo detail page*/
#bigPhoto {
    width: 65%;
}
#bigPhoto img{
    width: 100%;
    height: auto;
    float: left;
    clear: left;
    margin: 0px 0px 15px 30px;
    margin-top: 0%;
}
#head,#features {
    margin-left: 30px;
    margin-bottom: 10px;
    width: 65%;
    float: left;
    background: #eee;
    padding: 0px 15px 5px;
}

#stat{
	position: fixed;
	left: 68%;
    background: #eee;
    padding: 10px;
    float: right;
    width: 30%;
    margin: 0% 1% 2%;
}
#stat li{
    display: block;
    word-wrap: break-word;
    width: 90%;
}

li#features, li#off {
    font-size: 12px;
	list-style: none;
    width: 15%;
    height: 33px;
    padding: 0.5% 0.5%;
    margin: 1%;
    text-align: center;
    float: left;

}

li#features {
    background: #fbc100;
    color: #ffffff;
    width: 125px;
}

li#features img#categories {
    width: 25px;
    height: 25px;
}

li#off {
	background: #e0e0e0;
	color: #999;
}

div#find {
    margin-left: 30px;
    background: #eee;
    padding: 15px;
    width: 90%;
}

/*for load more*/
div#loadMore {
    text-align: center;
    margin: 20px;
}

div.container h4#user_list {

}

select.form-control{
    width:100px;
}

button#find {
    clear: both;
    margin-right: 500px;
}

/*for photo detail*/
button#follow {
    background: #fcb100;
    border: 1px solid #fcb100;
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
}

button#unfollow {
    background: red;
    border: 1px solid red;
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
}
