
/**
 * Grid container
 */
/*#tiles {
    background: #fbc100;
  list-style-type: none;
  position: relative; 
  margin: 0 20px 0 28px;
  padding: 0;
  clear: both;
}

#tiles h2 {
    margin: 30px 15px;
}*/
/**
 * Grid items
 */
/*#tiles li {
  width: 200px;
  display: none;*/ /** Hide items initially to avoid a flicker effect **/
/*  cursor: pointer;
  padding: 4px;
}

#tiles li.inactive {
  visibility: hidden;
  opacity: 0;
}

#tiles li img {
  display: block;
}

#tiles img#categories{
    height: 25px;
    width: 25px;
    float: left;
    margin: 1px 1px;
    padding-bottom: 2px;
}*/

/**
 * Grid item text
 */
/*#tiles li p {
  color: #fbc100;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
  font-weight: 200;
  margin: 2px 0 2px 2px;
}*/

/*For USER PAGE tiles */
#user_tiles {
    min-width: 850px;
    margin: 5px -8px;
    width: 100%;
}

#user_tiles li {
    background: #fbc100;
    list-style: none;
    padding: 5px;
    float: left;
    border: 1px solid white;
}

#user_tiles li div {
    height: 150px;
    width: 150px;
    overflow: hidden;
}

#user_tiles li img {
    height: 180px;   
    width: auto;
    overflow: hidden;
}

button#follow {
    background: #5cb85c;
    border: 1px solid #5cb85c;
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: 16px;
}

button#unfollow {
    background: #d9534f;
    border: 1px solid #d9534f;
    border-radius: 5px;
    margin-bottom: 5px;
    color: white;
    font-size: 16px;
}



div#loadMore {
    clear: both;
    padding-top: 50px;
    color: #d9534f;
    font-size: 16px;
}


button#categories {
    background: #fbc100;
    color: white;
    border: none;
    margin: 2px;
}

img#userhead {
    height: 115px;
    width: 115px;
    margin-top: 10px;
}

#head {
  width:95%;
  height:100%;
}

#head2 {
    width: 50%;
    height: 100%;
    background: #eee;
}

#container h2 {
    margin: 5px 35px;
}

.userinfo {
  float:left;
  width: 500px;
  height: 100%;
  margin-top: 8px;
    margin-left: 20px;
    padding: 1px 2px 5px;
}

.userfav{
  float:right;
  width: 350px;
  height: 100%;
  background-color: #fbc100;
  margin: 8px 5px;
    padding: 2px 9px 15px;
    border-radius: 10px;
}

.userfav span.pct, .userfav_left span.pct {
    color: #428bca;
    margin-left: 5px;
    font-size: 15px;
}

.userfav_left{
  float:left;
  width: 350px;
  height: 100%;
  background-color: #fbc100;
  margin: 8px 35px;
    padding: 2px 9px 15px;
    border-radius: 10px;
}

.userinfo h4,h5{
    margin-left: 5px;
}

.userfav h4{
    margin-left: 5px;
}
.userfav_left h4{
    margin-left: 5px;
}


span#fav_tag{
  color:white;
  font-weight: 400;
  font-size:25px;
}

.nameimg{
  width: 160px;
  float:left;
    text-align: center;
    margin-bottom: 5px;
}

.nameimg #photo_author a{
    font-size: 15px;
}

span#user_info_text{
  color: #428bca;
  font-weight: 400;
  font-size:20px;
}



/*******friend list page*******/
.checkbox1 {
  float:left;
  margin-left: 10px;
  margin-right: 10px;
}

.checkbox1 label {
    padding: 15px 5px;
}

.checkboxes {
  float:left;
  width: 95%;
  height: 100%;
  padding: 10px;
  background-color: #eee;
  margin-left: 30px;
}

li#find_friend h4 {
    text-decoration: underline;
    font-variant: small-caps;
}


li#find_friend{
    list-style: none;
  float:left;
  width: 250px;
  height: 220px;
  background-color: #eee;
  margin-top: 2px;
  margin-left: 2px;
  padding: 10px;


}

li#find_friend a{
    color: #428bca;
    font-size: 20px;
}

li#find_friend span#find_fav {
    color: #fcb100;
}

img#find_head {
    height: 50px;
    width: 50px;
    margin: 5px;
}

span#find_fav{
  color:#fbc100;
  font-weight: 500;
  font-size:15px;
}

span#fav_make, span#fav_model, span#fav_category {
    color: white;   
}

/*******follow list modal window*******/


