<!DOCTYPE html>
<html id='login_signup'>
	<head>
		<title>Login | [Name of Website]</title>
		<meta charset="UTF-8"/>
		<link href="pagestyle.css" rel="stylesheet" type="text/css" />
		<!--
		For JQuery
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>-->
		<script>
		</script>
	</head>

	<body>
		<nav class="nav">
			<ul>
				<li id="logo">Logo</li>
				<li><a href="signup2.html">Signup</a></li>
				<li><a href="">Search</a></li>
			</ul>
		</nav>
		<br/><br/>

		<form name="login" action="" method="post">
			<h2>Please login</h2>
			<input type="text" name="username" placeholder="Email" required="required">
			<br/></br/>
			
			<input type="password" name="password" placeholder="Password" required="required">

			<br/></br/>
			<input type="submit" name="submitbutton" value="Login">			
			<p>Not registered? Please signup <a href="signup2.html">here</a>.</p>
		</form>

	</body>
</html>

