{% extends "base.html" %}
{% block title %}LOGIN{% endblock %}
{% block content %}
<form action="" method="post">
    {% csrf_token %}
    <h2>Please Login:</h2>
    <input type="text" name="username" placeholder="Username" required="required">
    <br/></br/>
    <input type="password" name="password" placeholder="Password" required="required">
    <br/></br/>
    <input type="submit" name="submitbutton" value="Login">
    <input type="hidden" name="next" value="{{ next|escape }}" />
    {% if error %}
        <div id="error1">{{ error }}</div>
    {% endif %}
    <p>Not registered? Please signup <a href="{% url 'photo:signup' %}">here</a>.</p>
</form>
{% endblock %}