html {
	height: 100%;
	width: 95%;
	margin: auto;
	background-color: white;
	display: table;
	background-size: cover;
}

body {
	padding: 5px 10px;
	background-color: rgb(232,232,232);
	font-family: Verdana;
	height: 100%;
}

a {
	text-decoration: none;	
}

nav {
	background-color: #fdc100;
	height: 60px;
	margin: -30px -10px;
}

nav li {
	list-style: none;
	float: left;
	padding: 20px 25px;
	text-transform: uppercase;
}

nav li a {
	color: white;
	padding: 5px 15px;
}

nav li a:hover {
	color: black;
	background-color: rgba(148,148,148,0.5);
	border-radius: 5px;
}

li#logo {
	font-weight: bold;
	font-size: 25px;
	padding: 15px;
}

form {
	background-color: white;
	width: 50%;
	padding: 5px 10px;
	margin: 15px auto;
	text-align: center;
	border-radius: 20px;
}

form p {
	font-size: 12px;
}

form p a {
	color: blue;
	font-variant: small-caps;
}

form p a:hover {
	text-decoration: underline;
}

form input[type='submit'] {
	background-color: #fdc100;
	color: white;
	height: 40px;
	width: 80px;
	font-size: 20px;
	border-radius: 10px;
	border: none;
	margin-bottom: 15px;
}

form input {
	color: black;
	background-color: #fdc100;
	padding: 5px;
	font-size: 20px;
	border: 2px solid #fdc100;
	border-radius: 5px;
}

form input:focus {
	background-color: #ffdc6b;
}

form input[type='submit']:hover {
	background-color: #ffdc6b;
	color: black;
	border: 2px solid #ffdc6b;
}

div#error1, div#error2 {
	color: red;
	font-size: 10px;
}
