<!-- List of uploaded documents -->
{% if work_list %}
    <ul>
    {% for item in work_list %}
        <img src="{{ item.file.url }}" alt="{{ item.title }}:{{ item.file.name }}" />
        <li><a href="{{ item.file.url }}">{{ item.title }}:{{ item.file.name }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No documents.</p>
{% endif %}

<!-- Upload form. Note enctype attribute! -->
<form action="{% url 'photo:upload' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.title.errors }}</p>
    <p>{{ form.title.label_tag }} {{ form.title }} {{ form.title.help_text }}</p>
    <p>{{ form.file.label_tag }} {{ form.file.help_text }}</p>
    <p>
        {{ form.file.errors }}
        {{ form.file }}
    </p>
    <p><input type="submit" value="Upload" /></p>
</form>