div#feed_photo{
    background: #eee;
    border: 1px solid #dedede;
    padding: 20px 300px 5px 20px;
    border-radius: 5px;
}

div#feed_photo p {
    text-align: left;
}

#container li {
    list-style: none;
    clear: both;
}

#container div img, #container div a{
    width: 300px;
    display: block;
}
#container div img{
    overflow: hidden;
    height: 250px;
}
div#feed_photo img#categories {
    width: 35px;
    height: 35px;
    float: left;
    margin: 1px 2px;
}
#container div{
    float: left;
    margin: 10px;
}
#container div a{
    text-align: left;
    font-size: 20px;
}
#container, #api, #head{
    clear: both;
    margin: auto;
    margin-left: 50px;
    width: 80%;
    display: block;
}
#loadMore{
    clear: both;
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 18pt;
    background-color: ivory;
    border-radius: 5px;
}
#loadMore a:hover{
    color: red;
    cursor: hand;
}
#loadMore a{
    cursor: hand;
    cursor: pointer;
    display: block;
}
#bigPhoto {
    width: 70%;
}
#bigPhoto img{
    width: 100%;
    float: left;
}
#stat{
    width: 28%;
    float: left;
    margin-left: 1%;
}
#stat li{
    display: block;
    word-wrap: break-word;
    width: 90%;
}
#head button{
    float: left;
}
