{% load staticfiles %}
<!DOCTYPE html>
<html id='{% block html_id %}login_signup{% endblock %}'>
	<head>
		<title>272G6:{% block title %}Photographer Social Network{% endblock %}</title>
		<meta charset="UTF-8"/>
		<!--<link href="{% static 'style.css' %}" rel="stylesheet" type="text/css" />-->
        <link href="{% static 'css/base.css' %}" rel="stylesheet" type="text/css" />
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">

        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css" rel="stylesheet" type="text/css" />

        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        <script src="{% static 'jquery.form.min.js' %}"></script>
        <script src="{% static 'csrf.js' %}" ></script>
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js" ></script>
        {% block head_script %}{% endblock %}
	</head>

	<body>

        <header>
                <!-- Header
            ================================================== -->
            <div class="navbar navbar-inverse navbar-fixed-top">
                <div class="navbar-inner">
                    <div class="container">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                        <a class="navbar-brand" href="{% url 'photo:home' %}">PHOTO.ME</a>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li><a href="{% url 'photo:explore' %}">EXPLORE</a></li>
                                <li><a href="{% url 'photo:site_stat' %}">STATIC</a></li>
                                {% if user.is_authenticated %}
                                <li><a href="{% url 'photo:feed' %}">FEED</a></li>
                                <li><a id="myHome" href="#">{{ user.username }}</a></li>
                                <li><a href="{% url 'photo:upload' %}">UPLOAD</a></li>
                                <li><a href="{% url 'photo:logout' %}">LOGOUT</a></li>
                                {% else %}
                                <li><a href="{% url 'photo:signup' %}">SIGNUP</a></li>
                                <li><a href="{% url 'photo:login' %}">LOGIN</a></li>
                                {% endif %}
                                <li><a href="{% url 'photo:api_root' %}">API</a></li>
                                <li><a href="{% url 'photo:test' %}">Test</a></li>

                                <!--<li class="dropdown">
                                    <a href="#" class="dropdown-toggle js-activated" data-toggle="dropdown">Features <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="columns.html">Columns</a></li>
                                    </ul>
                                </li>-->
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
            </div>
            
            {% block header %}{% endblock %}
        </header>

 
        <div class="page-wrap">
            </br>
            <div id="content">
                {% block content %}{% endblock %}
            </div>       
        </div>

        <!-- Footer
        ================================================== -->
        <footer class="footer">
        <div class="container">
            <!-- 1st row -->
                <div class="span12 text-center">
                    <h1 class="title">CMPE 272 - Team 6</h1>
                    <p class="smaller">
                        <span class="copyright">&copy;  Copyright 2014 CMPE 272 Team 6</span>
                    </p>
                </div>
        </div>
        </footer>
	</body>
    <script>
        var me = "{% url 'photo:user_page' 1 %}"
        me = me.substring(0, me.length - 2);
        $('#myHome').attr('href', me + {{ user.id }})
    </script>
    {% block foot_script %}{% endblock %}
</html>

