{% extends "base.html" %}
{% load staticfiles %}
{% block title %}EXPLORE{% endblock %}
{% block head_script %}

    <link href="{% static 'css/filter.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/explore_main.css' %}" rel="stylesheet" type="text/css">

{% endblock %}

  {% block header %}
  <!-- Intro
  ================================================== -->
  <div class="introtitle">
      <div class="container">
          <h2>PHOTO.ME</h2>
          <p>Social Network for Professional Photographers<br/>
          </p>
          <!--<p><b></b></p>-->
      </div>

  </div>
  <!-- END Intro -->

  {% endblock %}
   
  {% block content %}

  <!-- Filtering Menu
  ================================================== -->
  <div class="container"> 
    <div id="filter">
      <ul>
        <li class='button' onclick="onClickFilter('All')"        >ALL</li>
        <li class='button' onclick="onClickFilter('portrait')"   >
            <img class='icon' id="icon1" src="/static/images/portrait_yellow.png"/>
            &nbsp;portrait 
        </li>
        <li class='button' onclick="onClickFilter('landscape')"  >
            <img class='icon' id="icon2" src="/static/images/landscape_yellow.png"/>
            &nbsp;landscape</li>
        <li class='button' onclick="onClickFilter('telephoto')"  >
            <img class='icon' id="icon3" src="/static/images/telephoto_yellow.png"/>
            &nbsp;telephoto</li>
        <li class='button' onclick="onClickFilter('low_light')"  >
            <img class='icon' id="icon4" src="/static/images/lowlight_yellow.png"/>
            &nbsp;low light</li>
        <li class='button' onclick="onClickFilter('high_speed')" >
            <img class='icon' id="icon5" src="/static/images/highspeed_yellow.png"/>
            &nbsp;high speed</li>
        <li class='button' onclick="onClickFilter('long_exposure')">
            <img class='icon' id="icon6" src="/static/images/longexposure_yellow.png"/>
            &nbsp;long exposure</li>

      </ul>
    </div>
  </div>
  <!-- END filtering menu -->

  <div id="container"> 
    <div id="main" role="main">
      <ul id="tiles">
        <!-- Place content loaded photo from the photo API -->
      </ul>
    </div>
    
  </div>

  <div id="loadMore"><a>Load More</a></div>

    
{% endblock %}

{% block foot_script %}
<!--<script src="{% static 'tuolei.js' %}"></script>-->
<script>
  //
  photo_list_url = "{% url 'photo:photo-list' %}";
  photo_page_url = "{% url 'photo:photo_page' 1 %}";
  user_url = "{% url 'photo:user_page' 1 %}";
  user_url = user_url.substring(0, user_url.length - 2);
  photo_page_url = photo_page_url.substring(0, photo_page_url.length - 2);

  //
  var options = {
    autoResize: true, // This will auto-update the layout when the browser window is resized.
    container: $('#tiles'), // Optional, used for some extra CSS styling
    offset: 5, // Optional, the distance between grid items
    itemWidth:300, // Optional, the width of a grid item
    //fillEmptySpace: true // Optional, fill the bottom of each column with widths of flexible height 
  };
  
  $(document).ready(function(){
        loadData();

        $('.button').hover(function(){
          $(this).toggleClass('hover');
          //$('img').toggleClass('hover');
          //$('img',this).toggleClass('hover');
        });

        //switch color of icons on hover
        var switchToWhite = function() {
          if ($('img',this).is('.active')) return;
          $('img#icon1',this).attr('src','/static/images/portrait_white.png');
          $('img#icon2',this).attr('src','/static/images/landscape_white.png');
          $('img#icon3',this).attr('src','/static/images/telephoto_white.png');
          $('img#icon4',this).attr('src','/static/images/lowlight_white.png');
          $('img#icon5',this).attr('src','/static/images/highspeed_white.png');
          $('img#icon6',this).attr('src','/static/images/longexposure_white.png');
        }

        //switch color of icons on unhover
        var switchToYellow = function() {
          if ($('img',this).is('.active')) return;
          $('img#icon1',this).attr('src','/static/images/portrait_yellow.png');
          $('img#icon2',this).attr('src','/static/images/landscape_yellow.png');
          $('img#icon3',this).attr('src','/static/images/telephoto_yellow.png');
          $('img#icon4',this).attr('src','/static/images/lowlight_yellow.png');
          $('img#icon5',this).attr('src','/static/images/highspeed_yellow.png');
          $('img#icon6',this).attr('src','/static/images/longexposure_yellow.png');
        }
        //$('img').not('active')
        $('.button').mouseover(switchToWhite).mouseout(switchToYellow);
        
        /*$('img').mouseover(switchToWhite).mouseout(switchToYellow).click(function(){
          $('.active').not(this).removeClass('active').trigger('mouseout');
          $('img').addClass('active');
          return false;
        });*/
        //$('.button').click(switchToWhite).mouseleave(switchToWhite);
          
        $('.button').click(function(){
          $(this).toggleClass('active');
          $('img',this).toggleClass('active');
          $(this).siblings().removeClass('hover active');
          $('img',this).parent().siblings().find('img').removeClass('active').trigger('imgChanged');
        });

        //event to change unclicked icon back to yellow
        $('.button').on('imgChanged',switchToYellow);


        /*$(function(){
            $('img.icons').hover(sourceSwap, sourceSwap);
            $('img.icons').active(sourceSwap, sourceSwap);
        });*/

        //div follow scroll function
        $(window).scroll(function(e){
          $element = $('#filter');
          if ($(this).scrollTop() > 138 && $element.css('position') != 'fixed'){
              $('#filter').css({'position': 'fixed', 'top': '18%', 'width':'940px'});
          }
          if ($(this).scrollTop() < 138 && $element.css('position') == 'fixed'){
              $('#filter').css({'position': 'static',
                                 'top': '10%', 'width': '940px'
                               });
          }
        });
  });


  // Capture filter click events
  function onClickFilter(selector){
    console.log("selector:"+selector);

    switch(selector){
      case 'All':
        photo_list_url = "{% url 'photo:photo-list' %}";
        break;
      case 'portrait':
        photo_list_url = "{% url 'photo:photo-list' %}?portrait=True";
        break;
      case 'landscape':
        photo_list_url = "/api/photos/?landscape=True";
        break;
      case 'telephoto':
        photo_list_url = "/api/photos/?telephoto=True";
        break;
      case 'low_light':
        photo_list_url = "/api/photos/?low_light=True";
        break;
      case 'high_speed':
        photo_list_url = "/api/photos/?high_speed=True";
        break;
      case 'long_exposure':
        photo_list_url = "/api/photos/?long_exposure=True";
        break;               
    }

    clearPhotos();
    loadData();
  };




</script>

<!-- Include the imagesLoaded plug-in -->
<script src="{% static 'jquery.imagesloaded.min.js' %}"></script>

<!-- Include the plug-in -->
<script src="{% static 'jquery.wookmark.min.js' %}"></script>

<!-- Include the photo_load.js -->
<script src="{% static 'photo_load.js' %}"></script>


{% endblock %}