{% extends "base.html" %}
{% load staticfiles %}
{% block title %}EXPLORE{% endblock %}
{% block head_script %}
    <link href="{% static 'explore_main.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'filter.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
   
      <!--
      These are our filter options. The "data-filter" classes are used to identify which
      grid items to show.
      -->
   <br/>
      <ol id="filters">
        <li onclick="onClickFilter('portrait')">portrait</li>
        <li onclick="onClickFilter('landscape')">landscape</li>
        <li onclick="onClickFilter('telephoto')">telephoto</li>
        <li onclick="onClickFilter('low_light')">low_light</li>
        <li onclick="onClickFilter('high_speed')">high_speed</li>
        <li onclick="onClickFilter('long_exposure')">long_exposure</li>
      </ol>
      <br/>   

    <div id="container"> 

      <div id="main" role="main">
        <ul id="tiles">
          <!-- Place content loaded photo from the photo API -->
        </ul>
      </div>
      
    </div>

    <div id="loadMore"><a>Load More</a></div>

    
{% endblock %}

{% block foot_script %}
<!--<script src="{% static 'tuolei.js' %}"></script>-->
<script>
  photo_list_url = "{% url 'photo:photo-list' %}";
  photo_page_url = "{% url 'photo:photo_page' 1 %}";
  user_url = "{% url 'photo:user_page' 1 %}";
  user_url = user_url.substring(0, user_url.length - 2);
  photo_page_url = photo_page_url.substring(0, photo_page_url.length - 2);
  
  $(document).ready(function(){
        loadData();
  });


  // Capture filter click events
  function onClickFilter(selector){
    console.log("selector:"+selector);

    switch(selector){
      case 'portrait':
        photo_list_url = "/api/photos/?portrait=True";
        break;
      case 'landscape':
        photo_list_url = "/api/photos/?landscape=True";
        break;
      case 'telephoto':
        photo_list_url = "/api/photos/?telephoto=True";
        break;
      case 'low_light':
        photo_list_url = "/api/photos/?low_light=True";
        break;
      case 'high_speed':
        photo_list_url = "/api/photos/?high_speed=True";
        break;
      case 'long_exposure':
        photo_list_url = "/api/photos/?long_exposure=True";
        break;               
    }
    clearPhotos();
    loadData();

  };



</script>

<!-- Include the imagesLoaded plug-in -->
<script src="{% static 'jquery.imagesloaded.min.js' %}"></script>

<!-- Include the plug-in -->
<script src="{% static 'jquery.wookmark.min.js' %}"></script>

<!-- Include the photo_load.js -->
<script src="{% static 'photo_load.js' %}"></script>


{% endblock %}