{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ user.username }}{% endblock %}
{% block head_script %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block header %}
  <!-- Intro
  ================================================== -->
  <div class="introtitle">
      <div class="container">
          <h2>PHOTO.ME  -  Find Photographor Just Like YOU</h2>
      </div>

  </div>
  <!-- END Intro -->

  {% endblock %}

{% block content %}
<div class="container"> 
	<div id="head">
        <div class="container">
            <h4 id="photo_author"><a>{{ user.username }}</a></h4>

            <h4 class="fav" id="fav_make">Favorite Make: </h4>
            <h4 class="fav" id="fav_model">Favorite Model: </h4>
            <h4 class="fav" id="fav_category">Favorite Category: </h4>

        </div>
    </div>
  </div>




  <div class="container"> 
  	<form role="form">

	  <div class="checkbox">
	    <label>
	      <input type="checkbox" id="make" > Same favorate camera make as me
	    </label>
	  </div>

	  <div class="checkbox">
	    <label>
	      <input type="checkbox" id="model"> Same favorate camera model as me
	    </label>
	  </div>

	  <div class="checkbox">
	    <label>
	      <input type="checkbox" id="category"> Same favorate category as me
	    </label>
	  </div>

	  <button type="submit" id="find" onClick= "load_userlist()" class="btn btn-default">Submit</button>
	</form>

  </div>


  <div class="container"> 
  	<form role="form">
  		<h4>User List</h4>
	  	<ul id = "firends">

	  		<!-- result user list -->

	  	</ul>
    </form>
  </div>

  <div id="loadMore"><a>Load More</a></div>


    
{% endblock %}

{% block foot_script %}

<script>
	  //for each user  http://localhost:8000/api/users/5
	  //compare fav_make, fav_model. fav_category
	  //if hit, add to user list #friends

  	current_user_url = "/api/users/"+ {{ user.id }};
  	userlist_url = "/api/users/?find";

	 $(document).ready(function(){
	  	loadUser();
	 });


     function load_userlist(){
		console.log("in load button");
            

        if ($('#make').is(':checked') && $('#model').is(':checked') && $('#category').is(':checked')){  	
        	userlist_url += '&fav_make' + '&fav_model'+'&fav_category';

        } else if ($('#make').is(':checked') && $('#model').is(':checked')){
        	userlist_url += '&fav_make' + '&fav_model';

        } else if ($('#make').is(':checked') && $('#category').is(':checked')) {
			userlist_url += '&fav_make'+'&fav_category';

        } else if ($('#model').is(':checked') && $('#category').is(':checked')) {
        	userlist_url += '&fav_model'+'&fav_category';

        } else if ($('#make').is(':checked')) {
        	userlist_url += '&fav_make';

        } else if ($('#model').is(':checked')) {
        	userlist_url += '&fav_model';

        } else if ($('#category').is(':checked')) {
        	userlist_url += '&fav_category';
        };

        console.log("clicked"+userlist_url);

        //userlist_url = "/api/users/?find&fav_model";
        user_url = "{% url 'photo:user_page' 1 %}";
		user_url = user_url.substring(0, user_url.length - 2);
        loadUserList();


        //$(document).bind('scroll', onScroll);

		/**
		* When scrolled all the way to the bottom, add more tiles.
		*/

		/*

		//define load handler
		var handler = null,
		    //page = 1,
		    isLoading = false,
		    finishLoad = false;


		function onScroll(event) {
		  // Only check when we're not still waiting for data.
		  if(!isLoading && !finishLoad) {
		    // Check if we're within 100 pixels of the bottom edge of the broser window.
		    var closeToBottom = ($(window).scrollTop() + $(window).height() > $(document).height() - 100);
		    if(closeToBottom) {
		      LoadUserList();
		    }
		  }
		};*/
     };

</script>

<!-- Include the find API file -->
<script src="{% static 'find_friends.js' %}"></script>

<script src="{% static 'load_user.js' %}"></script>





{% endblock %}