{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ user_data.username }}{% endblock %}
{% block head_script %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block header %}
  <!-- Intro
  ================================================== -->
  <div class="introtitle">
      <div class="container">
          <h2>PHOTO.ME  -  Find Photographor Just Like YOU</h2>
      </div>

  </div>
  <!-- END Intro -->

  {% endblock %}

{% block content %}


  <div class="container"> 
  	<form role="form">

	  <div class="checkbox">
	    <label>
	      <input type="checkbox" id="make" value="fav_make"> Same favorate camera make as me:
	      	<p id="my_make">show my fav_make</p>
	    </label>
	  </div>

	  <div class="checkbox">
	    <label>
	      <input type="checkbox" id="model" value="&fav_model"> Same favorate camera model as me:
	      	<p id="my_model">show my fav_model</p>
	    </label>
	  </div>

	  <div class="checkbox">
	    <label>
	      <input type="checkbox" id="category" value="&fav_category"> Same favorate category as me:
	      <p id="my_category">show my fav_category</p>
	    </label>
	  </div>

	  <button type="submit" id="find" class="btn btn-default">Submit</button>
	</form>

  </div>


  <div class="container"> 
  	<form role="form">
  		<h4>User List</h4>
	  	<ul id = "firends">

	  		<!-- result user list -->

	  	</ul>
    </form>
  </div>


    
{% endblock %}

{% block foot_script %}

<script>
	  //for each user  http://localhost:8000/api/users/5
	  //compare fav_make, fav_model. fav_category
	  //if hit, add to user list #friends

	  var parentText = window.opener.document.all.fav_make.value;
		alert(parentText);

	  userlist_url = "api/users/?find";


  $(document).ready(function(){
        $('#find').click(function(){
            //header to find_friends page
            //    "/api/users/?find"


            var x = document.getElementById("make").value;
            console.log("x:"+x);

            // same make url:  api/users/?find&fav_make， api/users/?find&fav_model, api/users/?find&fav_category

            //if first box clicked
            //userlist_url += ;

            //if second box clicked
            userlist_url += "&fav_model";

            //if second box clicked
            userlist_url += "&fav_category";

            //if 1+2

            //if 1+3

            //if 2+3

            //if 1+2+3


        });
  });

</script>

<!-- Include the find API file -->
<script src="{% static 'find_friends.js' %}"></script>





{% endblock %}