{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ user.username }}{% endblock %}
{% block head_script %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/user_page.css' %}" rel="stylesheet" type="text/css">
{% endblock %}


{% block header %}
  <!-- Intro
  ================================================== -->
  <div class="introtitle">
      <div class="container">
          <h2>Find Photographers Like ME</h2>
      </div>

  </div>
  <!-- END Intro -->

  {% endblock %}

{% block content %}

    <div id="head">
        <div class="nameimg">
            <a><img id="userhead"/>
            <h4 id="photo_author"> {{ user.username }}</a></h4>
        </div>


        <div class="userfav_left">
          <h2>ME.Favs</h2>
            <h4 class="fav" id="fav_make">Make: <span id="fav_make_pct"></span></h4>
            <h4 class="fav" id="fav_model">Model: <span id="fav_model_pct"></span></h4>
            <h4 class="fav" id="fav_category">Category: <span id="fav_catagory_pct"></span></h4>
        </div>
    </div>

  <div class="checkboxes"> 
    <div id='find'><h3>Find on Photo.Me who have:</h3>
	  <div class="checkbox1">

	    <label>
	      <input type="checkbox" id="make" > Same favorite camera make as me
	    </label>
	  </div>

	  <div class="checkbox1">
	    <label>
	      <input type="checkbox" id="model"> Same favorite camera model as me
	    </label>
	  </div>

	  <div class="checkbox1">
	    <label>
	      <input type="checkbox" id="category"> Same favorite photo category as me
	    </label>
	  </div>
	  <button id="find" onClick= "load_userlist()" class="btn btn-default">Submit</button>
   </div>
  </div>

  <div class="container"> 

  		<h4 id='user_list'>User List <span id ="list_title"></span></h4>
	  	<ul id="firends">
	  		<!-- result user list -->
	  	</ul>

  </div>

  <div id="loadMore"><a>Load More</a></div>

    
{% endblock %}

{% block foot_script %}

<script>
	  //for each user  http://localhost:8000/api/users/5
	  //compare fav_make, fav_model. fav_category
	  //if hit, add to user list #friends

  	current_user_url = "/api/users/"+ {{ user.id }};

    
    user_url = "{% url 'photo:user_page' 1 %}";
    user_url = user_url.substring(0, user_url.length - 2);
  	
	 $(document).ready(function(){
	  	loadUser();
      loadPct();
	 });


  function load_userlist(){

        userlist_url = "/api/users/?find";
            
        if ($('#make').is(':checked') && $('#model').is(':checked') && $('#category').is(':checked')){  	
        	userlist_url += '&fav_make' + '&fav_model'+'&fav_category';

        } else if ($('#make').is(':checked') && $('#model').is(':checked')){
        	userlist_url += '&fav_make' + '&fav_model';

        } else if ($('#make').is(':checked') && $('#category').is(':checked')) {
			     userlist_url += '&fav_make'+'&fav_category';

        } else if ($('#model').is(':checked') && $('#category').is(':checked')) {
        	userlist_url += '&fav_model'+'&fav_category';

        } else if ($('#make').is(':checked')) {
        	userlist_url += '&fav_make';

        } else if ($('#model').is(':checked')) {
        	userlist_url += '&fav_model';

        } else if ($('#category').is(':checked')) {
        	userlist_url += '&fav_category';
        };

        clearUsers();
        LoadUserList();
  };


</script>

<!-- Include the find API file -->
<script src="{% static 'find_friends.js' %}"></script>

<script src="{% static 'load_user.js' %}"></script>





{% endblock %}