{% if user.is_authenticated %}
    <p>Welcome, <b>{{ user.username }}</b>. Thanks for logging in.</p>
{% else %}
    <p>Welcome, <b>new user</b>. Please log in.</p>
{% endif %}
<ul>
    {% if not user.is_authenticated %}
    <li><a href="/signup/">Sign up</a></li>
    <li><a href="/login/">Log In</a></li>
    {% else %}
    <li><a href="/logout/">Log out</a></li>
    <li><a href="/upload/">Upload</a></li>
    {% endif %}
</ul>

{% if work_list %}
    <hr/>
    <ul>
    {% for item in work_list %}
        <img src="{{ item.file.url }}" alt="{{ item.title }}:{{ item.file.name }}" />
        <li><a href="{{ item.file.url }}">{{ item.title }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No documents.</p>
{% endif %}
<hr/>
<p>User List</p>
{% if user_list %}
    {% for user in user_list %}
        <li>{{ user.id }}, {{ user.username }}, {{ user.password }}</li>
    {% endfor %}
{% endif %}
<hr/>