{% extends "base.html" %}
{% load staticfiles %}
{% block title %}DETAIL{% endblock %}
{% block head_script %}
    <!--<link href="{% static 'tuolei.css' %}" rel="stylesheet" type="text/css">-->
{% endblock %}
{% block content %}
    <div id="bigPhoto">
        <img src="" />
    </div>

    <div id="head">
        <h3 id="photo_title"></h3>
        <h4 id="photo_author"><a></a></h4>
        {% if not me %}
        <button id="unfollow">Unfollow</button>
        <button id="follow">Follow</button>
        {% endif %}
    </div>
    <div id="stat">
        <h3>Photo Details</h3>

        </br>
        <h4 style="color: orange">Disclaimer EXIF Categorization:</h4>
        <h5 style="color: orange">
            Currently Photo.Me provides 6 categories for auto sorting.
            If your photo falls outside the criteria of our sorting algorithm, it may not be automatically categorized.
        </h5>

        <h6>Catogorization rules:</h6>
        Portrait: FNumber>4, FocalLength>=50;</br>
        Lanscape:            FocalLength<=35;</br>
        Telephoto:               Length>=100;</br>
        Low Litght:                ISO>=1600;</br>
        High Speed:   Exposure Time <= 0.001;</br>
        Long Exposure:     Exposure Time >=5;</p>
        </br>


        <div id='features'></div>
        <div id='empty'>

        </div>

    </div>

    </div>
    

    <div id="comment"></div>
{% endblock %}

{% block foot_script %}
<script src="{% static 'tuolei.js' %}"></script>
<script>
    photo_detail_url = "{% url 'photo:photo-detail' pk %}"
    user_url = "{% url 'photo:user_page' 1 %}"
    user_url = user_url.substring(0, user_url.length - 2)
    $(document).ready(function(){
        loadPhotoDetail();
        {% if followed %}
            $('#follow').hide()
        {% else %}
            $('#unfollow').hide()
        {% endif %}
        $('#follow').click(function(){
            $.get("{% url 'photo:user-follow' author %}", {
            }, function(data, status, xhr) {
                $('#follow').hide()
                $('#unfollow').show()
            });
        });
        $('#unfollow').click(function(){
            $.get("{% url 'photo:user-unfollow' author %}", {
            }, function(data, status, xhr) {
                $('#follow').show()
                $('#unfollow').hide()
            });
        });

        //stat box scrolling float function
        $(function(){
            // get initial top offset of navigation
            var floating_navigation_offset_top = $('#stat').offset().top;
             
              // define the floating navigation function
              var floating_navigation = function(){
                  // current vertical position from the top
                  var scroll_top = $(window).scrollTop();
                  console.log(scroll_top);
                  // if scrolled more than the navigation, change its
                  // position to fixed to float to top, otherwise change
                  // it back to relative
                  if (scroll_top > floating_navigation_offset_top-10) {
                        $('#stat').css({ 'position': 'fixed', 'top': '80px', 'left': '68%'});
                  } 
                  else {
                        $('#stat').css({ 'position': 'default', 'top': '0px' });
                  }  
              };
     
          // run function on load
          floating_navigation();
       
          // run function every time you scroll
          $(window).scroll(function() {
              floating_navigation();

              //make sure not to cover footer
              footertotop = ($('.footer').position().top);
                scrolltop = $(document).scrollTop()+450;
                difference = scrolltop-footertotop;
                // if user has scrolled further than footer,
                // pull sidebar up using a negative margin

                if (scrolltop > footertotop) {
                    $('#stat').css('margin-top',  0-difference);
                }

                else  {
                    $('#stat').css('margin-top', 0);
                }
              });
        });
        /*//for photo detail stat to scroll with page
        $(window).scroll(function(){
            footertotop = ($('.footer').position().top);
            scrolltop = $(document).scrollTop()+450;
            difference = scrolltop-footertotop;
            // if user has scrolled further than footer,
            // pull sidebar up using a negative margin

            if (scrolltop > footertotop) {
                $('#stat').css('margin-top',  0-difference);
            }

            else  {
                $('#stat').css('margin-top', 0);
            }

        });*/

    })
    function checkPhotoDetail(selector){
        console.log("selector: "+selector);
        console.log("value: " + selector.value);
    };
    function loadPhotoDetail(){
    $.ajax({
        type: "GET",
        url: photo_detail_url,
        dataType: "json"
    }).success(function(data, textStatus, jqXHR){
        $("#photo_title").html(data.title);
        $("#photo_author").find('a').html('By: '+data.authorName).attr('href', user_url + data.author);
        $("#bigPhoto img").attr('src', data.file);
        $.each(data, function(key, value) {
            switch(key){
                case 'portrait':
                case 'landscape':
                case 'telephoto':
                case 'low_light':
                case 'high_speed':
                case 'long_exposure':
                    var key1 = key;
                    var key2 = key;
                    key1 = key1.replace('_', '');
                    key2 = key2.replace('_', ' ');
                    if(value==true){
                        $('#features').append("<li id='features'><img id='categories' src='/static/images/"+key1+"_white.png'><b>&nbsp;&nbsp;"+key2 + "</b></li>");
                    }
                    break;
                case 'upload_time':
                    //convert iso time into readable format
                    var timestamp = new Date(value);
                    var d = timestamp.getDate();
                    var m = timestamp.getMonth();
                    var y = timestamp.getFullYear();
                    var h = timestamp.getHours();
                    var min = timestamp.getMinutes();
                    var m_names = new Array("January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December");
                    timestamp = m_names[m]+' '+d+', '+y+' at '+h+':'+min;
                    var key1 = key;
                    key1 = key1.replace('_', ' ');
                    $('#stat').append("<li><b>" + key1 + "</b>: " + timestamp + "</li>");    
                    break;
                case 'author':
                case 'id':
                case 'url':
                case 'authorName':
                case 'title':
                case 'file':
                    //ignore as user doesn't need to see this or already on page
                    break;
                default:
                    var key1 = key;
                    key1 = key1.replace('_', ' ');
                    $('#stat').append("<li><b>" + key1 + "</b>: " + value + "</li>");    
                    break;
            }
        });
        $.get
    }).fail(function( jqXHR, textStatus ) {
        alert('Request Failed');
    });
}

</script>
{% endblock %}