{% extends "base.html" %}
{% block title %}Photographer Social Network: Profile{% endblock %} 

{% block content %}
    <h2>Profile</h2>
     <form action="{% url 'photo:upload' %}" method="post">
      <img src="{{profilepic}}" width="200" height="250" />
       <input type="submit" value="Upload" />
     </form>
    <form action="/profileUpdate" method="post">
   
     <table>
          <tr>
             <td><b>ID:  </b></td>
             <td><input type="text" name="ID" value="{{ID}}"></td>
          </tr>
          <tr>
             <td><b>Uer Name: </b></td>
             <td><input type="text" name="Name" value="{{name}}"/></td>
          </tr>
          <tr>
             <td><b>Career:</b></td>
             <td><input type="text" name="Career" value="{{career}}"/></td>
          </tr>
          <tr>
             <td><b>Sex:</b></td>
             <td><input type="text" name="sex" value="{{sex}}"/></td>
          </tr>
          <tr>
             <td><b>Style:</b></td>
             <td><input type="text" name="style" value="{{style}}"/></td>
          </tr>
          <tr>
             <td><b>Works </b></td>
             <td><input type="text" name="works" value="{{weblink}}"/></td>
               
          </tr>
          <!-- Nav tabs -->
          <ul class="nav nav-tabs">
            <li><a href="#followings" data-toggle="tab">Followings</a></li>
            <li><a href="#followers" data-toggle="tab">Followers</a></li>
            <li><a href="#friends" data-toggle="tab">Friends</a></li>
          </ul>

          <!-- Tab panes -->
          <div class="tab-content">
            <div class="tab-pane" id="following" name="followings"></div>
            <div class="tab-pane" id="followers" name="followers"></div>
            <div class="tab-pane" id="friends" name="friends"></div>
          </div>
          
        </table>
        <input type="Submit" value=" UPDATE MY PROFILE">
    </form>
   
{% endblock %}

