{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Profile{% endblock %}

{% block head_script %}
    <!--<link href="{% static 'css/profile.css' %}" rel="stylesheet" type="text/css">-->
{% endblock %}

{% block content %}
    <!-- Upload form. Note enctype attribute! -->
    <form id="updateProfile" action="{% url 'photo:profile-detail' pk %}" method="POST" enctype="multipart/form-data"
          class="form-horizontal">
        <fieldset>
            {% csrf_token %}
            <h2>Update/Edit Profile:</h2>
            <div class="control-group ">
                <label for="name" class="control-label">name:</label>
                <div class="controls">
                    <input name="name" type="text" required="required" value="{{ profile.name }}">
                </div>
            </div>
            <div class="control-group ">
                <label for="gender" class="control-label">gender:</label>
                <div class="controls">
                    <select class="form-control" name="gender">
                        <option value="M">Male</option>
                        <option value="F" selected="selected">Female</option>
                    </select>
                </div>
            </div>

            <!--
            <div class="control-group ">
                <label for="head" class="control-label">head:</label>
            </br>
                <a><img id="userhead" src=" ../../media/{{ profile.head }}" width="100px" height="100px"/>

                <a href="#openModal" class="btn btn-primary">Change Head</a>

                <div id="openModal" class="modalDialog">
                    <div>
                        <a href="#close" title="Close" class="close">X</a>
                        <h2>Choose a new headshot</h2>
                        <div>
                            <input name="head" type="file" required="required" value="../../media/{{ profile.head }}">
                        </div>
                    </div>                    
                </div>  
            </div>
        -->


            <div class="control-group ">
                <label for="career" class="control-label">career:</label>
                <div class="controls">
                    <input name="career" type="text" value="{{ profile.career }}">
                </div>
            </div>


            <div class="control-group ">
                <label for="about" class="control-label">about:</label>
                <div class="controls">
                    <input name="about" type="text" value="{{ profile.about }}">
                </div>
            </div>
            <div class="control-group ">
                <label for="home_page" class="control-label">home page:</label>
                <div class="controls">
                    <input name="home_page" type="text" value="{{ profile.home_page }}">
                </div>
            </div>
            </br>
            <div class="form-actions">
                <button class="btn btn-primary js-tooltip" name="_method" value="PATCH"
                        data-original-title="Make a PATCH request on the Profile Detail resource">UPDATE
                </button>
            </div>

            <input type="hidden" name="_method" value="PATCH" />
        </fieldset>
    </form>
{% endblock %}

{% block foot_script %}
<script>
    $(document).ready(function(){
        user_url = "{% url 'photo:user_page' 1 %}";
        user_url = user_url.substring(0, user_url.length - 2);
        $('#updateProfile').ajaxForm(function() {
            window.location.replace(user_url+{{ user.id }});
        });
    });
</script>
{% endblock %}