{% extends "base.html" %}
{% load staticfiles %}
{% block title %}TRENDS{% endblock %}
{% block head_script %}
    <link href="{% static 'css/site_stat.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'holder.js' %}"></script>
    <script src="{% static 'stat_visualized.js' %}"></script>
    <!---reference:http://jsfiddle.net/gh/get/jquery/1.9.1/highslide-software/highcharts.com/tree/master/samples/highcharts/demo/column-basic/ -->
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/modules/exporting.js"></script>
{% endblock %}


{% block header %}
  <!-- Intro
  ================================================== -->
  <div class="introtitle">
      <div class="container">
          <h2>PHOTO.ME</h2>
          <p>Current Trends on PHOTO.ME</p>
      </div>

  </div>
  <!-- END Intro -->

  {% endblock %}

{% block content %}
  <!---Bar chart-->
  <div class="container">
    <div class= "row">
      
      <div class="col-md-6">
        <!-- Put Picture 1, 2, 3-->
        <div class="row">

          <div class="col-md-4">
            <h4>Trending Camera Make Top 1</h4>
            <h4 class="trends" id="fav_make_1"> </h4>
            <span class="trends" id="fav_make_1_pct"> </span>
            <img data-src="holder.js/100x100/auto/sky" class="img-responsive" alt="Photo Gallery"> 
            <a class="btn btn-default" id="fav_make_1_btn" href="#" role="button">View Photos &raquo;</a>
          </div>

          <div class="col-md-4">       
            <h4>Trending Camera Model Top 1</h4>
            <h4 class="trends" id="fav_model_1"> </h4>
            <span class="trends" id="fav_model_1_pct"> </span>
            <img data-src="holder.js/100x100/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">
            <a class="btn btn-default" href="#" role="button">View Photos &raquo;</a>
          </div>

          <div class="col-md-4">
            <h4>Trending Category Top 1</h4>
            <h4 class="trends" id="fav_category_1"> </h4>
            <span class="trends" id="fav_category_1_pct"> </span>
            <img data-src="holder.js/100x100/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">
            <a class="btn btn-default" href="#" role="button">View Photos &raquo;</a>
          </div>

        </div>
      </div>  

      <div class="col-md-6" id="visual_container" style="min-width: 310px; height: 400px; margin: 0 auto">
      </div>
    </div><!---End class="row" -->
  </div><!---End Bar chart-->

  <div class="container">
    <!-- Top 2 made  model category-->
    <div class="col-md-4" id='col1'>
      <h4><span class='type' id='make'>Camera Make</span> Top 2</h4>
      <h4 class="trends" id="fav_make_2"> </h4>
      <span class="trends" id="fav_make_2_pct"> </span><br/>
      <!--<img data-src="holder.js/100x100/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">-->
      <a class="btn btn-default" id="fav_make_2_btn" href="#" role="button">View Photos &raquo;</a>
    </div>

    <div class="col-md-4" id='col2'>       
      <h4><span class='type' id='model'>Camera Model</span> Top 2</h4>
        <h4 class="trends" id="fav_model_2"> </h4>
        <span class="trends" id="fav_model_2_pct"> </span><br/>
        <!--<img data-src="holder.js/100x100/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">-->
        <a class="btn btn-default" href="#" role="button">View Photos &raquo;</a>
    </div>

    <div class="col-md-4" id='col3'>
      <h4><span class='type' id='category'>Category</span> Top 2</h4>
      <h4 class="trends" id="fav_category_2"> </h4>
      <span class="trends" id="fav_category_2_pct"> </span><br/>
      <!--<img data-src="holder.js/100x100/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">-->
      <a class="btn btn-default" href="#" role="button">View Photos &raquo;</a>
    </div>
  </div>

  <div class="container">
    <!-- Top 3 made  model category-->
    <div class="col-md-4" id='col1'>
      <h4><span class='type' id='make'>Camera Make</span> Top 3</h4>
      <h4 class="trends" id="fav_make_3"> </h4>
      <span class="trends" id="fav_make_3_pct"> </span><br/>
      <!--<img data-src="holder.js/100x100/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">-->
      <a class="btn btn-default" href="#" role="button">View Photos &raquo;</a>
    </div>

    <div class="col-md-4" id='col2'>       
      <h4><span class='type' id='model'>Camera Model</span> Top 3</h4>
        <h4 class="trends" id="fav_model_3"> </h4>
        <span class="trends" id="fav_model_3_pct"> </span><br/>
        <!--<img data-src="holder.js/100x100/auto/vine" class="img-responsive" alt="Generic placeholder thumbnail">-->
        <a class="btn btn-default" href="#" role="button">View Photos &raquo;</a>
    </div>

    <div class="col-md-4" id='col3'>
      <h4><span class='type' id='category'>Category</span> Top 3</h4>
      <h4 class="trends" id="fav_category_3"> </h4>
      <span class="trends" id="fav_category_3_pct"> </span><br/>
      <!--<img data-src="holder.js/100x100/auto/sky" class="img-responsive" alt="Generic placeholder thumbnail">-->
      <a class="btn btn-default" href="#" role="button">View Photos &raquo;</a>
    </div>
  </div>

{% endblock %}

{% block foot_script %}

<script>
  //
  //photo_list_url = "{% url 'photo:photo-list' %}";
  //photo_page_url = "{% url 'photo:photo_page' 1 %}";
  //user_url = "{% url 'photo:user_page' 1 %}";
  //user_url = user_url.substring(0, user_url.length - 2);
  //photo_page_url = photo_page_url.substring(0, photo_page_url.length - 2);

  site_stat_url = "/api/photos/stat";


  $(document).ready(function(){
        //get site stat api /api/photos/stat 
        loadStat();
        //category_stat, make_stat, model_sta
          // for each parameter
              //list top 3 results and %
              //thumnail photolist 4-5 photos from /api/photos/?make=Canon
              //button link to the whole list in new page
        showStatData()
  });

  //$("#fav_make_1_btn").click(){
    //tranfer url t
  //};

</script>

<!-- Include the    -->
<script src="{% static 'site_stat.js' %}"></script>

{% endblock %}