{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Upload{% endblock %}

{% block content %}
    <!-- Upload form. Note enctype attribute! -->
    <form id="uploadForm" action="{% url 'photo:photo-list' %}" method="POST" enctype="multipart/form-data" class="form-horizontal">
        <fieldset>
            {% csrf_token %}
            
            <!--file loading control-->
            <div class="control-group ">
                <label for="file" class="control-label">file:</label>
                <div id="dropbox">  
                <div class="controls">
                       
                      <input name="file" id="fileWidget" type="file">
                      <img id="img" height="100" alt="Image preview" src="">
                      <!--<div id="status"></div>-->
                    </div>
                </div>
            </div>

            <div class="control-group ">
                <label for="title" class="control-label">title:</label>
                <div class="controls">
                    <input name="title" type="text">
                </div>
            </div>

            <div class="control-group ">
                <label for="make" class="control-label">make:</label>
                <div class="controls">
                    <input name="make" id="make" type="text" value=" ">
                </div>
            </div>
            <div class="control-group ">
                <label for="model" class="control-label">model:</label>
                <div class="controls">
                    <input name="model" id="model" type="text" value=" ">
                </div>
            </div>
            <div class="control-group ">
                <label for="exposure_time" class="control-label">exposure time:</label>
                <div class="controls">
                    <input name="exposure_time" id="exposure_time" type="text" value="0">
                </div>
            </div>
            <div class="control-group ">
                <label for="fnumber" class="control-label">fnumber:</label>
                <div class="controls">
                    <input name="fnumber" id="fnumber" type="text" value="0">
                </div>
            </div>
            <div class="control-group ">
                <label for="focal_length" class="control-label">focal length:</label>
                <div class="controls">
                    <input name="focal_length" id="focal_length" type="text" value="0">
                </div>
            </div>
            <div class="control-group ">
                <label for="iso" class="control-label">iso:</label>
                <div class="controls">
                    <input name="iso" id="iso" type="text" value="0">
                </div>
            </div>
            <div class="control-group ">
                <label for="processing_software" class="control-label">processing software:</label>
                <div class="controls">
                    <input name="processing_software" id="processing_software" type="text">
                </div>
            </div>
            </br>
            <div class="form-actions">
                <button class="btn btn-primary" title="Make a POST request on the Photo List resource">POST</button>
            </div>
        </fieldset>
    </form>
    {#    <form action="{% url 'photo:upload' %}" method="post" enctype="multipart/form-data">#}
{#        <h2>Upload Photos!</h2>#}
{#        {% csrf_token %}#}
{##}
{#        <div id="error1">{{ form.non_field_errors }}</div>#}
{##}
{#        {{ form.title.label_tag }} {{ form.title }}#}
{#        <div id="error1">{{ form.title.help_text }}{{ form.title.errors }}</div>#}
{#        <br/>#}
{##}
{#        {{ form.file.label_tag }}#}
{#        <div id="error1">{{ form.file.help_text }}{{ form.file.errors }}</div>#}
{#        <br/>#}
{##}
{#        <div id="error1">{{ form.file }}</div>#}
{#        <input type="submit" value="Upload" />#}
{#    </form>#}
{% endblock %}

{% block foot_script %}
<!-- Include the photo_load.js -->
<script src="{% static 'jpegmeta.js' %}"></script>
<script src="{% static 'load_exif.js' %}"></script>
<script>
    user_url = "{% url 'photo:user_page' 1 %}";
    user_url = user_url.substring(0, user_url.length - 2);
    
    $(document).ready(function(){
        $('#uploadForm').ajaxForm(function() {
            window.location.replace(user_url+{{ user.id }});
        });
    });

//$("input[name='make']").val("Canon");

</script>

{% endblock %}