{% extends "base.html" %}
{% block title %}Upload{% endblock %}
{% block content %}
<!-- Upload form. Note enctype attribute! -->
<form action="{% url 'photo:upload' %}" method="post" enctype="multipart/form-data">
    <h2>Upload Photos!</h2>
    {% csrf_token %}

    <div id="error1">{{ form.non_field_errors }}</div>

    {{ form.title.label_tag }} {{ form.title }}
     <div id="error1">{{ form.title.help_text }}{{ form.title.errors }}</div>
    <br/>

    {{ form.file.label_tag }}
    <div id="error1">{{ form.file.help_text }}{{ form.file.errors }}</div>
    <br/>

    <div id="error1">{{ form.file }}</div>
    <input type="submit" value="Upload" />
</form>
{% endblock %}