{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ user_data.username }}{% endblock %}
{% block head_script %}
    <!--<link href="{% static 'tuolei.css' %}" rel="stylesheet" type="text/css">-->
    <link href="{% static 'explore_main.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <div id="head">
        <h4 id="photo_author"><a>{{ user_data.username }}</a></h4>
        {% if not me %}
        <button id="unfollow">Unfollow</button>
        <button id="follow">Follow</button>
        {% endif %}
    </div>

    <div id="container">
        <div id="main" role="main">
            <ul id="tiles">
            <!-- Place content loaded photo from the photo API -->
            </ul>
        </div>
    </div>

    <div id="loadMore"><a>Load More</a></div>
{% endblock %}

{% block foot_script %}
<script src="{% static 'tuolei.js' %}"></script>
<script>
    photo_list_url = "{% url 'photo:photo-list' %}?author="+{{ pk }};

    $(document).ready(function(){
        loadData();
        {% if followed %}
            $('#follow').hide()
        {% else %}
            $('#unfollow').hide()
        {% endif %}
        $('#follow').click(function(){
            $.get("{% url 'photo:user-follow' pk %}", {
            }, function(data, status, xhr) {
                $('#follow').hide()
                $('#unfollow').show()
            });
        });
        $('#unfollow').click(function(){
            $.get("{% url 'photo:user-unfollow' pk %}", {
            }, function(data, status, xhr) {
                $('#follow').show()
                $('#unfollow').hide()
            });
        });
    })

</script>

<!-- Include the imagesLoaded plug-in -->
<script src="{% static 'jquery.imagesloaded.min.js' %}"></script>

<!-- Include the plug-in -->
<script src="{% static 'jquery.wookmark.min.js' %}"></script>

<!-- Include the photo_load.js -->
<script src="{% static 'photo_load.js' %}"></script>

{% endblock %}