{% extends "base.html" %}
{% load staticfiles %}
{% block title %}{{ user_data.username }}{% endblock %}
{% block head_script %}
    <!--<link href="{% static 'tuolei.css' %}" rel="stylesheet" type="text/css">-->
    <link href="{% static 'css/explore_main.css' %}" rel="stylesheet" type="text/css">
{% endblock %}
{% block content %}
    <div id="head">
        <div class="container">
            <h4 id="photo_author"><a>{{ user_data.username }}</a></h4>

            <!--find friends button  ######change url-->
            <p><a class="btn btn-primary" href="{% url 'photo:find_friends' %}" role="button">Find Friends &raquo;</a></p>

            {% if not me %}
            <button id="unfollow">Unfollow</button>
            <button id="follow">Follow</button>
            {% endif %}
        </div>
    </div>

    <div id="container">
        <div id="main" role="main">
            <ul id="tiles">
            <!-- Place content loaded photo from the photo API -->
            </ul>
        </div>
    </div>

    <div id="loadMore"><a>Load More</a></div>
{% endblock %}

{% block foot_script %}
<script src="{% static 'tuolei.js' %}"></script>
<script>
    photo_list_url = "{% url 'photo:photo-list' %}?author="+{{ pk }};

    var options = {
        autoResize: true, // This will auto-update the layout when the browser window is resized.
        container: $('#tiles'), // Optional, used for some extra CSS styling
        offset: 2, // Optional, the distance between grid items
        itemWidth: 210, // Optional, the width of a grid item
        //fillEmptySpace: true // Optional, fill the bottom of each column with widths of flexible height ?? not working
    };

    $(document).ready(function(){
        loadData();
        {% if followed %}
            $('#follow').hide()
        {% else %}
            $('#unfollow').hide()
        {% endif %}
        $('#follow').click(function(){
            $.get("{% url 'photo:user-follow' pk %}", {
            }, function(data, status, xhr) {
                if(data.redirect) return window.location.href = data.redirect;
                $('#follow').hide()
                $('#unfollow').show()
            }, 'json');
        });
        $('#unfollow').click(function(){
            $.get("{% url 'photo:user-unfollow' pk %}", {
            }, function(data, status, xhr) {
                if(data.redirect) return window.location.href = data.redirect;
                $('#follow').show()
                $('#unfollow').hide()
            }, 'json');
        });
    })

</script>

<!-- Include the imagesLoaded plug-in -->
<script src="{% static 'jquery.imagesloaded.min.js' %}"></script>

<!-- Include the plug-in -->
<script src="{% static 'jquery.wookmark.min.js' %}"></script>

<!-- Include the photo_load.js -->
<script src="{% static 'photo_load.js' %}"></script>

{% endblock %}